.sign-in {
  width: 28vw;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
