.sign-up {
  display: flex;
  flex-direction: column;
  width: 28vw;

  .title {
    margin: 20px 0;
    color: #243b53;
    font-size: 28px;
  }

  span {
    color: #486581;
    font-size: 18px;
  }
}
