.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    text-align: center;
    height: 58%;
    left: 3.5rem;
    top: 1rem;
    width: 70px;
    position: relative;
  }

  .logo-container::before,
  .logo-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #2d2d2d;
    transform: scaleY(0);
    transition: transform 0.5s ease;
  }

  .logo-container::before {
    left: -8px;
    transform-origin: center top;
  }

  .logo-container:hover::before {
    transform-origin: center bottom;
    transform: scaleY(1);
  }

  .logo-container::after {
    right: -8px;
    transform-origin: center bottom;
  }

  .logo-container:hover::after {
    transform-origin: center top;
    transform: scaleY(1);
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      color: #102a43;
      font-size: 18px;
      margin-right: 1rem;
      padding: 10px 15px;
      position: relative;
      cursor: pointer;
    }

    .option::before,
    .option::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #2d2d2d;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }

    .option::before {
      top: 0;
      transform-origin: center right;
    }

    .option:hover::before {
      transform-origin: center left;
      transform: scaleX(1);
    }

    .option::after {
      bottom: 0;
      transform-origin: center left;
    }

    .option:hover::after {
      transform-origin: center right;
      transform: scaleX(1);
    }
  }
}
