.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      margin-right: 4.5rem;
      padding: 10px 15px;
      position: relative;
    }

    .option::before,
    .option::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #2d2d2d;
      transform: scaleX(0);
      transition: transform 0.5s ease;
    }

    .option::before {
      top: 0;
      transform-origin: center right;
    }

    .option:hover::before {
      transform-origin: center left;
      transform: scaleX(1);
    }

    .option::after {
      bottom: 0;
      transform-origin: center left;
    }

    .option:hover::after {
      transform-origin: center right;
      transform: scaleX(1);
    }
  }
}
